@model DesafioMVC.DTO.EnderecoDTO
@{
  Layout = "_Layout";
  ViewData["Title"] = "Editar endereço";
}

<head>
  <script src="~/js/consultaCep.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

</head>

<h2>Editar endereço</h2>
<form class="form-horizontal" asp-controller="Enderecos" asp-action="Editar" method="POST">
  <input type="hidden" asp-for="Id">

  <label asp-for="Cep">
    Cep:
  </label>
  <input onkeypress="$(this).mask('00.000-000')" class="form-control" asp-for="Cep" name="Cep" size="15" maxlength="10"
    autocomplete="off" id="cep" type="text" placeholder="CEP"> <button style="display: inline" class="btn btn-primary"
    type="button" onClick="consultaCep()"><i class="fas fa-search"></i></button>
  <span class="text-danger" asp-validation-for="Cep"></span><br>

  <label asp-for="Logradouro">
    Logradouro:
  </label>
  <input id="Logradouro" class="form-control" asp-for="Logradouro" name="Logradouro" autocomplete="off" type="text"
    placeholder="Logradouro">
  <span class="text-danger" asp-validation-for="Logradouro"></span><br>

  <label asp-for="Numero">
    Numero:
  </label>
  <input id="Numero" class="form-control" asp-for="Numero" name="Numero" autocomplete="off" type="text"
    placeholder="Numero">
  <span class="text-danger" asp-validation-for="Numero"></span><br>

  <label asp-for="Complemento">
    Complemento:
  </label>
  <input id="Complemento" class="form-control" asp-for="Complemento" name="Complemento" autocomplete="off" type="text"
    placeholder="Complemento">
  <span class="text-danger" asp-validation-for="Complemento"></span><br>

  <label asp-for="Cidade">
    Cidade:
  </label>
  <input id="Cidade" class="form-control" asp-for="Cidade" name="Cidade" autocomplete="off" type="text"
    placeholder="Cidade">
  <span class="text-danger" asp-validation-for="Cidade"></span><br>

  <label asp-for="Estado">Estado:</label>
  <select id="Estado" class="form-control" asp-for="Estado">
    @foreach (var uf in ViewBag.Estados)
    {
      <option value="@uf">@uf</option>
    }

  </select>
  <span class="text-danger" asp-validation-for="Estado"></span><br>
  <br>
  <br>
  <span class="text-danger">QUALQUER MUDANÇA AFETARA TODA A BASE DE DADOS, TENHA CERTEZA DO QUE ESTÁ FAZENDO!</span><br>
  <span class="text-danger">Aqui é possível fazer a alteração de qualquer valor, por isso tenha certeza do que está fazendo.</span><br>



  <br><button type="submit" class="btn btn-success">Editar endereço</button>
</form>
