@{
  Layout = "_Layout";
  ViewData["Title"] = "Popular banco de dados";
}

<head>
  <script src="~/js/popularDb.js"></script>
</head>
<div class="text-center">
  <h1>Popular banco de dados</h1>
  <h4>Caso continue irá popular o banco de dados com dados básicos para testes.</h4>
</div>

<div class="text-center">
  <button type="button" class="btn btn-danger btn-lg" onClick="popularDb()">
    Popular banco de dados!<br>
    <i class="fas fa-users"></i>
  </button>
</div>