@model DesafioMVC.DTO.VacinaDTO
@{
  Layout = "_Layout";
  ViewData["Title"] = "Registrar vacina";
}


<h2>Nova vacina</h2>
<form class="form-horizontal" asp-controller="Vacinas" asp-action="Registrar" method="POST">
  <input type="hidden" asp-for="Id" value="0">

  <label asp-for="Nome">
    Nome:
  </label>
  <input id="Nome" class="form-control" asp-for="Nome" autocomplete="off" type="text" placeholder="Nome">
  <span class="text-danger" asp-validation-for="Nome"></span><br>

  <label asp-for="Nome">
    Laboratório:
  </label>
  <input id="Laboratorio" class="form-control" asp-for="Laboratorio" autocomplete="off" type="text"
    placeholder="Laboratorio">
  <span class="text-danger" asp-validation-for="@Model.Laboratorio"></span><br>

  <label asp-for="Posologia">Doses:</label>
  <select id="Posologia" class="form-control" asp-for="Posologia">
    <option value="true">Dose dupla</option>
    <option value="false">Dose única</option>
  </select>
  <span class="text-danger" asp-validation-for="Posologia"></span><br>


  <label asp-for="Intervalo">
    Intervalo em dias [No caso de dose única o intervalo será zero]:
  </label>
  <input class="form-control" asp-for="Intervalo" autocomplete="off" type="number">
  <span class="text-danger" asp-validation-for="Intervalo"></span><br>



  <br><button type="submit" class="btn btn-success">Registrar vacina</button>
</form>
