<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  @* Styles *@
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="SHORTCUT ICON" href="~/vacina.ico" />
  <link rel="stylesheet" href="~/css/site.css" />
  @* Jquery *@
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <partial name="_LoginPartial" />
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i
                  class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item nav-active">
              <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index"><i
                  class="fas fa-user-lock"></i> Administrativo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="LocaisVacinacao"><i
                  class="fas fa-map-marker-alt"></i> Locais</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Vacinas"><i
                  class="fas fa-syringe"></i> Vacinas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Lotes"><i
                  class="fas fa-layer-group"></i> Lotes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>
  @RenderSection("Scripts", required: false)
</body>

</html>
