@{
  Layout = "_Layout";
}
<h1><i class="far fa-sad-tear"></i></h1>
<h1> Algo deu errado com sua requisição.</h1>
<p>Sentimos muito por não ter sido possível concluir a ação.</p>
<p>Alguma informação foi inserida incorretamente e não conseguimos resolver.</p><br>
<p>Por favor, volte e tente novamente.</p><br>
<img src="https://www.icegif.com/wp-content/uploads/sorry-icegif-2.gif" alt="SORRY">