@{
  ViewData["Title"] = "VacinApp";
}

<div class="text-center">
  <h1 class="display-4">Bem vindo ao VacinApp!</h1>
  <h4>Este é o sistema de gerenciamento e portal da transparênia de vacinas</h4>
  <p>Esta aplicação faz parte do Desafio MVC da GFT Brasil (09/08/21 ~ 20/08/21) e foi desenvolvido por Leonardo
    Machado (LOMH)</p>
  <p>Primeira vez ? >>> <a asp-action="PopularDBWarning" asp-controller="Admin" class="badge bg-primary">ACESSE AQUI</a>
  </p>

  <br><br><br>
